[submodule "app/src/main/jni/hev-socks5-tunnel"]
	path = app/src/main/jni/hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel
[submodule "app/src/main/jni/shadowsocks-rust"]
	path = app/src/main/jni/shadowsocks-rust
	url = https://github.com/shadowsocks/shadowsocks-rust.git
[submodule "app/src/main/jni/v2ray-plugin"]
	path = app/src/main/jni/v2ray-plugin
	url = https://github.com/teddysun/v2ray-plugin
