<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<!-- 必要的权限 -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
		tools:ignore="QueryAllPackagesPermission" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"
		android:minSdkVersion="34" />
	<uses-permission android:name="android.permission.BIND_VPN_SERVICE"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!-- 声明硬件和软件特性 -->
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.software.leanback" android:required="false" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/sockstun"
		android:roundIcon="@mipmap/sockstun"
		android:supportsRtl="true"
		android:theme="@style/Theme.SocksTun"
		android:banner="@mipmap/sockstun">

		<!-- VPN 和前台服务 -->
		<service
			android:name=".TProxyService"
			android:permission="android.permission.BIND_VPN_SERVICE"
			android:foregroundServiceType="specialUse"
			android:exported="false"
			tools:ignore="ExportedService">
			<intent-filter>
				<action android:name="hev.sockstun.CONNECT" />
				<action android:name="hev.sockstun.DISCONNECT" />
			</intent-filter>
		</service>

		<!-- 处理开机广播 -->
		<receiver
			android:name=".ServiceReceiver"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<!-- 应用入口 -->
		<activity
			android:name=".MainActivity"
			android:excludeFromRecents="true"
			android:exported="true"
			android:banner="@mipmap/sockstun">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- 应用列表界面 -->
		<activity
			android:name=".AppListActivity"
			android:exported="false" />
	</application>
</manifest>
